<h2 id="title">Chicago Lobbyist Data</h2>
<ul>
    <li>{{#link-to 'client'}}Clients{{/link-to}}</li>
    <li>{{#link-to 'employer'}}Employers{{/link-to}}</li>
    <li>{{#link-to 'lobbyist'}}Lobbyists{{/link-to}}</li>
</ul>

{{outlet}}
